node_modules/
dist/
.angular/
.cache/
.chrome-headless/
.idea/
.vscode/
coverage/

*.log
*.tmp
*.swp

.env
.env.*

arena/node_modules/
arena/dist/
arena/.angular/

work-permit-backend/target/
work-permit-backend/.m2repo/
work-permit-backend/.mvn/wrapper/maven-wrapper.jar

uploads/

OJT Report.pdf
OJT_Report_WPMS.html
WPMS_OJT_Report_Kazi_Amir_Abdul.doc
WPMS_OJT_Report_Kazi_Amir_Abdul.html
WPMS_Project_Detailed_Info.txt
WPMS_SRS.docx
WPMS_SRS.js

.DS_Store
Thumbs.db
